name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - "*"
  pull_request_review:
    types:
      - submitted
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install MkDocs and dependencies
        run: |
          pip install mkdocs mkdocs-material

      - name: Build project with MkDocs
        run: mkdocs build

      - name: Upload site artifact
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: site
          

  notify_final_reviewer:
    runs-on: ubuntu-latest
    if: github.event.review.state == 'commented'
    steps:
      - name: Notify final reviewer team
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_NUMBER=${{ github.event.pull_request.number }}
          REVIEWER=${{ github.event.review.user.login }}

          TEAM_HANDLE="@${{ github.repository_owner }}/test-team"
          COMMENT="$TEAM_HANDLE PR #$PR_NUMBER has a new review comment from @$REVIEWER and is ready for final review."
  
          curl -X POST \
            -H "Authorization: token $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            -H "Content-Type: application/json" \
            -d "{\"body\":\"$COMMENT\",\"event\":\"COMMENT\"}" \
            https://api.github.com/repos/${{ github.repository }}/pulls/$PR_NUMBER/reviews


  deploy_to_github_pages:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Download site artifact
        uses: actions/download-artifact@v4
        with:
          name: site
          path: site

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PRODUCTION_REPO_ACCESS_TOKEN}}
          publish_dir: site
